[Unit]
Description=Pi Slideshow HDMI player
After=pi-slideshow-web.service
Wants=pi-slideshow-web.service
Conflicts=getty@tty7.service

[Service]
User=root
PAMName=login
Environment=XDG_SESSION_TYPE=x11
Environment=XDG_SEAT=seat0
Environment=XDG_VTNR=7
ExecStart=/opt/pi-slideshow/deploy/display-start.sh
Restart=always
RestartSec=5
StandardInput=tty
StandardOutput=journal
StandardError=journal
TTYPath=/dev/tty7
TTYReset=yes
TTYVHangup=yes
TTYVTDisallocate=yes
Environment=PYGAME_HIDE_SUPPORT_PROMPT=1
Environment=PYTHONUNBUFFERED=1
Environment=SDL_VIDEODRIVER=x11
Environment=SDL_RENDER_DRIVER=software
Environment=SDL_FRAMEBUFFER_ACCELERATION=0
Environment=SDL_VIDEO_WINDOW_POS=0,0
Environment=SLIDESHOW_BORDERLESS=1

[Install]
WantedBy=multi-user.target
